<template>
  <div id="content">
    <Popup
      :dialog="openDialog"
      @confirm="deleteItem"
      @cancel="openDialog = false"
      :type="type"
    />
    <FormHeader
      class="header"
      title="Veículo"
      subTitle=" - Lista de Veículos Cadastrados"
      :list="route"
    ></FormHeader>
    <v-card class="table">
      <div
        :class="[
          'searchContainer',
          $vuetify.breakpoint.smAndDown ? 'searchMobile' : 'searchDesktop',
        ]"
      >
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Busca"
          class="searchBar"
        ></v-text-field>
        <v-btn color="indigo" dark class="addVehicle" to="/register_vehicle">
          Cadastrar Veículo
        </v-btn>
      </div>
      <v-data-table :headers="headers" :items="vehicle" :search="search">
        <template v-slot:body="{ items }">
          <tr v-for="item in items" :key="item.id">
            <td class="tableName">
              {{ item.author.fullName }} - {{ getItemAddress(item.author) }}
            </td>
            <td>{{ item.author.dvc }}</td>
            <td>{{ item.model }}</td>
            <td>{{ item.color }}</td>
            <td>{{ item.plate }}</td>
            <td>
              <v-btn
                id="edit"
                @click="router - link"
                :to="{ path: '/edit_vehicle', query: { id: item.id } }"
                icon
              >
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-btn @click="openPopup(item)" color="danger" icon>
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import FormHeader from "@/common-components/FormHeader/FormHeader.vue";
import Popup from "@/common-components/Popup/Popup.vue";
import { getVehicle, deleteVehicle } from "@/services/vehicle.js";

export default {
  components: {
    FormHeader,
    Popup,
  },
  data() {
    return {
      vehicle: [],
      route: [
        { name: "Página Inicial", route: "home" },
        { name: "Gerenciar Veículo", route: "" },
      ],
      headers: [
        {
          text: "Autor",
          class: "headerClass",
          value: "author.fullName",
          sortable: true,
        },
        {
          text: "DVC do autor",
          class: "headerClass",
          value: "author.dvc",
          sortable: false,
        },
        {
          text: "Modelo",
          class: "headerClass",
          value: "model",
          sortable: false,
        },
        {
          text: "Cor",
          class: "headerClass",
          value: "color",
          sortable: false,
        },
        {
          text: "Placa",
          class: "headerClass",
          value: "plate",
          sortable: false,
        },
        {
          text: "Ações",
          value: "actions",
          sortable: false,
        },
      ],
      search: "",
      openDialog: false,
      selected: {},
      type: "delete",
    };
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      this.vehicle = await getVehicle();
      console.log(this.vehicle);
    },

    openPopup(item) {
      this.selected = item;
      this.openDialog = true;
    },

    closePopUp() {},

    async deleteItem() {
      await deleteVehicle(this.selected.id);
      await this.initialize();
      this.openDialog = false;
    },

    async confirmDelete() {
      console.log(this.selected);
    },
    searchVehicle(vehicleID) {
      this.$router.push(`edit_vehicles/${vehicleID}`);
    },
    getItemAddress(item) {
      console.log(item);
      if (!item.authorAddresses) return "Sem endereço associado";

      var address = item.authorAddresses[0];

      if (!address) return "Sem endereço associado";
      else return address["district"] + "/" + address["city"];
    },
  },
};
</script>
<style>
.headerClass {
  padding: 0px 0px !important;
}
#content {
  padding: 1% 3%;
}
.table {
  margin-top: 40px;
  padding: 1% 3%;
}
.routerLink {
  text-decoration: none;
  float: left;
}
.redirect {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.redirect a {
  background: #7a8190;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.redirect a span {
  border: 2px solid white;
  padding: 5px 10px;
  font-size: 32px;
  color: white;
  text-decoration: none;
}

.searchContainer {
  display: grid;
  grid-gap: 20px;
  align-items: center;
}
.searchDesktop {
  grid-template-columns: 80% 20%;
}

.searchmobile {
  grid-template-rows: repeat(auto, 2);
  grid-template-columns: 1fr;
}

.tableName {
  width: 35%;
  text-align: start;
}
</style>
