<template>
  <div>
    <div v-if="canShow">
      <div :class="['titleContainer', $vuetify.breakpoint.smAndDown ? 'mobileTitleContainer' : 'titleContainer']">
        <div :class="['line', $vuetify.breakpoint.smAndDown ? 'mobileLine' : 'line']" style="margin-left: 10%;"/> 
        <div><h1>Carros do Autor</h1></div>       
        <div :class="['line', $vuetify.breakpoint.smAndDown ? 'mobileLine' : 'line']" style="margin-right: 10%;"/> 
      </div>

      <div :class="['data', $vuetify.breakpoint.smAndDown ? 'mobile' : 'desktop']">
        <div class="container" v-for="item in vehicleList" :key="item.plate">
          <h2 class="contentTitle">{{item.brand}}</h2>
          <div class="prop"><b>Placa:</b> {{item.plate}}</div> 
          <div class="prop"><b>Marca:</b> {{item.brand}}</div> 
          <div class="prop"><b>Modelo:</b> {{item.model}}</div> 
          <div class="prop"><b>Ano:</b> {{item.year}}</div> 
          <div class="prop"><b>Cor:</b> {{item.color}}</div> 
        </div>
      </div>
    </div>
    <div v-if="!canShow">
        <div :class="['titleContainer', $vuetify.breakpoint.smAndDown ? 'mobileTitleContainer' : 'titleContainer']">
          <div :class="['line', $vuetify.breakpoint.smAndDown ? 'mobileLine' : 'line']" style="margin-left: 10%;"/> 
          <div><h1>Carros do Autor</h1></div>       
          <div :class="['line', $vuetify.breakpoint.smAndDown ? 'mobileLine' : 'line']" style="margin-right: 10%;"/> 
        </div>
        <h2 style="text-align: center; margin-top: 20px;">Nenhum carro encontrado!</h2>
    </div>
  </div>
</template>

<script>
import { getByAuthor } from '@/services/vehicle.js';

export default {
  props: {
    measure: {
      type: Object
    }
  },
  mounted:async function(){
    this.vehicleList = await getByAuthor(this.measure.author.id); 
    if(!(Array.isArray(this.vehicleList) && this.vehicleList.length)){
      this.canShow = false; 
      return;
    }
  },

  data : () => ({
    vehicleList: null,
    canShow: true
  }),

  methods:{
    
  }
}
</script>