<template>
  <div id="content">
    <Popup
      :dialog="openDialog"
      :type="type"
      :disableReturn="true"
      :text="text"
      @onButtonPressed="closeModal()"
    />
    <FormHeader class="header" title="Editar Medida Protetiva" :list="route"></FormHeader>
    <EditMeasureForm class="measure-form" @sendData="fetchData" />
    <div class="buttons">
      <v-btn class="btn" raised color="gray" @click="$router.go(-1)">Cancelar</v-btn>
      <v-btn
        class="btn"
        raised
        color="success"
        :loading="isLoading"
        @click="updateMeasure"
        >Salvar</v-btn
      >
    </div>
  </div>
</template>
<script>
import FormHeader from "@/common-components/FormHeader/FormHeader.vue";

import EditMeasureForm from "./Form/EditMeasureForm.vue";
import Popup from "@/common-components/Popup/Popup.vue";
import { getMeasure, update } from "@/services/measure.js";

export default {
  components: {
    FormHeader,
    Popup,
    EditMeasureForm,
  },
  data() {
    return {
      measure: [],
      route: [
        { name: "Página Inicial", route: "home" },
        { name: "Gerenciar Medida Protetiva", route: "manage_protectives" },
        { name: "Edeitar Medida Protetiva", route: "" },
      ],
      form: {},
      openDialog: false,
      isLoading: false,
      res: null,
      text: null,
      type: null,
    };
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      this.measure = await getMeasure();
    },
    fetchData(form) {
      Object.keys(form).map((key) => {
        this.form[key] = form[key];
      });
    },
    async updateMeasure() {
      this.$delete(this.form, 'assisted');
      this.$delete(this.form, 'author');
      let id = this.form.id;
      this.$delete(this.form, 'id');

      this.res = await update(id, this.form);
      try {
        if (this.res.id > 0) {
          this.type = 'success';
          this.text = 'Medida Protetiva atualizda com sucesso!';
          this.openDialog = true;
        } else {
          this.type = 'internalError';
          this.openDialog = true;
        }
        
      } catch (error) {
        this.type = 'internalError';
          this.openDialog = true;
      }
      this.isLoading = false;
    },

    closeModal() {
      this.openDialog = false;
      if (this.res.id > 0) {
        this.$router.push('/manage_protectives');
      }
    },
  },
};
</script>
<style scoped>
#content {
  padding: 1% 3%;
}

.measure-form {
  width: 55%;
  margin: 0 auto;
}
</style>
