<template>
  <div id="content">
    <Popup :dialog="openDialog" @confirm="deleteItem" @cancel="openDialog = false" :type="type" />
    <FormHeader
      class="header"
      title="Medida Protetiva"
      subTitle=" - Lista de Medidas Protetivas Cadastradas"
      :list="route"
    ></FormHeader>
    <v-card class="table">
      <div
        :class="[
          'searchContainer',
          $vuetify.breakpoint.smAndDown ? 'searchMobile' : 'searchDesktop',
        ]"
      >
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Busca"
          class="searchBar"
        ></v-text-field>
        <v-btn color="indigo" dark class="addMeasure" to="/register_measure">
          Cadastrar Medida Protetiva
        </v-btn>
      </div>
      <v-data-table :headers="headers" :items="measure" :search="search">
        <template v-slot:body="{ items }">
          <tr v-for="item in items" :key="item.id">
            <td>{{ item.assisted.fullName }} - {{ getAssistedAddress(item.assisted) }}</td>
            <td>{{ item.author.fullName }} - {{ getAuthorAddress(item.author) }}</td>
            <td>{{ item.validity.substring(0, 10) }}</td>
            <td>
              <v-btn
                @click="router - link"
                :to="{ path: '/general_info', query: { id: item.id } }"
                icon
              >
                <v-icon>mdi-shield-search</v-icon>
              </v-btn>
              <v-btn
                id="edit"
                @click="router - link"
                :to="{ path: '/edit_measure', query: { id: item.id } }"
                icon
              >
                <v-icon>mdi-shield-edit</v-icon>
              </v-btn>
              <v-btn @click="openPopup(item)" icon color="danger">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script>
import FormHeader from '@/common-components/FormHeader/FormHeader.vue';
import Popup from '@/common-components/Popup/Popup.vue';
import { getMeasure, deleteMeasure } from '@/services/measure.js';

export default {
  components: {
    FormHeader,
    Popup,
  },
  data() {
    return {
      measure: [],
      route: [
        { name: 'Página Inicial', route: 'home' },
        { name: 'Gerenciar Medida Protetiva', route: '' },
      ],
      headers: [
        { text: 'Assistida', align: 'start', sortable: true, value: 'assisted.fullName' },
        { text: 'Autor', value: 'author', sortable: true },
        { text: 'Validade', value: 'validity', sortable: true },
        { text: 'Ações', sortable: false },
      ],
      search: '',
      openDialog: false,
      selected: {},
      type: 'delete',
    };
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      this.measure = await getMeasure();
    },

    openPopup(item) {
      this.selected = item;
      this.openDialog = true;
    },

    closePopUp() {},

    async deleteItem() {
      await deleteMeasure(this.selected.id);
      await this.initialize();
      this.openDialog = false;
    },

    async confirmDelete() {
      console.log(this.selected);
      // await deleteAssisted(this.selected.id);
    },

    getAuthorAddress(item) {
      if (!item.authorAddresses) return 'Sem endereço associado';

      var address = item.authorAddresses[0];

      if (!address) return 'Sem endereço associado';
      else return address['district'] + '/' + address['city'];
    },

    getAssistedAddress(item) {
      if (!item.assistedAddresses) return 'Sem endereço associado';
      var address = item.assistedAddresses[0];

      if (!address) return 'Sem endereço associado';
      else return address['district'] + '/' + address['city'];
    },
  },
};
</script>
<style scoped>
#content {
  padding: 1% 3%;
}
.table {
  margin-top: 40px;
  padding: 1% 3%;
}
.routerLink {
  text-decoration: none;
  float: left;
}
.redirect {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.redirect a {
  background: #7a8190;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.redirect a span {
  border: 2px solid white;
  padding: 5px 10px;
  font-size: 32px;
  color: white;
  text-decoration: none;
}

.searchContainer {
  display: grid;
  grid-gap: 20px;
  align-items: center;
}
.searchDesktop {
  grid-template-columns: auto 25%;
}

.searchmobile {
  grid-template-rows: repeat(auto, 2);
  grid-template-columns: 1fr;
}
</style>
