<template>
  <div>
    <div v-if="assisted">
      <div
        :class="[
          'titleContainer',
          $vuetify.breakpoint.smAndDown ? 'mobileTitleContainer' : 'titleContainer',
        ]"
      >
        <div
          :class="['line', $vuetify.breakpoint.smAndDown ? 'mobileLine' : 'line']"
          style="margin-left: 10%"
        />
        <div><h1>Assistida</h1></div>
        <div
          :class="['line', $vuetify.breakpoint.smAndDown ? 'mobileLine' : 'line']"
          style="margin-right: 10%"
        />
      </div>

      <div :class="['data', $vuetify.breakpoint.smAndDown ? 'mobile' : 'desktop']">
        <div class="container">
          <h2 class="contentTitle">Informações pessoais</h2>
          <div class="prop"><b>Nome:</b> {{ assisted.fullName }}</div>
          <div class="prop"><b>CPF:</b> {{ maskCPF(assisted.cpf) }}</div>
          <div class="prop"><b>Observação:</b> {{ assisted.observation }}</div>
        </div>
        <div v-if="assistedAddress" class="container">
          <h2 class="contentTitle">Endereço</h2>

          <div class="prop"><b>CEP:</b> {{ maskCEP(assistedAddress.cep) }}</div>
          <div class="prop"><b>Estado:</b> {{ assistedAddress.state }}</div>
          <div class="prop"><b>Cidade:</b> {{ assistedAddress.city }}</div>
          <div class="prop"><b>Bairro:</b> {{ assistedAddress.district }}</div>
          <div class="prop">
            <b>Rua:</b> {{ assistedAddress.street }}, n°{{ assistedAddress.number }}
          </div>
        </div>
      </div>
      <div
        v-if="!assistedImages.message"
        style="padding-top: 30px"
        :class="[
          'dataImgs',
          $vuetify.breakpoint.smAndDown ? 'mobileImgs' : 'desktopImgs',
        ]"
      >
        <div class="dataImgs" v-for="item in assistedImages" :key="item.name">
          <img v-bind:src="'data:image/jpeg;base64,' + item.base64" class="imgObj" />
        </div>
      </div>
      <div id="content" v-if="assistedImages.message">
        <h3>Nenhuma foto encontrada</h3>
      </div>
    </div>
  </div>
</template>

<script>
import { getOne, getAssistedPicture } from "@/services/assisted.js";

export default {
  props: {
    measure: {
      type: Object,
    },
  },
  mounted: async function () {
    this.assisted = await getOne(this.measure.assisted.id);
    this.assistedImages = await getAssistedPicture(this.measure.assisted.id);
    if (!this.assisted.assistedAddresses) return;

    this.assistedAddress = this.assisted.assistedAddresses[0];
  },
  data: () => ({
    assisted: null,
    assistedAddress: null,
    assistedImages: [],
  }),

  methods: {
    maskCEP(value) {
      return value.substring(0, 5) + "." + value.substring(5, 8);
    },
    maskCPF(cpf) {
      cpf = cpf.replace(/\D/g, "");
      cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2");
      cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2");
      cpf = cpf.replace(/(\d{3})(\d{1,2})$/, "$1-$2");
      return cpf;
    },
  },
};
</script>

<style></style>
