<template>
  <v-dialog v-model="resetPass" max-width="600" transition="dialog-bottom-transition" persistent>
    <PopupChange
      :dialog="openChangeConfirmationDialog"
      @onButtonPressed="openChangeConfirmationDialog = false"
      :type="type"
      :disableReturn="true"
      ref="popupChange"
    />
    <div class="card" v-if="assisted">
      <v-form ref="form" v-model="isFormValid">
        <v-btn id="close" @click="$emit('closeModal')" icon class="close">
          <v-icon>mdi-close</v-icon>
        </v-btn>

        <div class="label-name" v-text="assisted.fullName"></div>

        <v-text-field
          class="fields"
          id="new"
          v-model="form.newPassword"
          outlined
          :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show1 ? 'text' : 'password'"
          @click:append="show1 = !show1"
          @input="validate"
          label="Nova senha"
          required
        ></v-text-field>

        <v-text-field
          class="fields"
          id="confirm"
          v-model="form.confirmNewPassword"
          outlined
          :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show2 ? 'text' : 'password'"
          @click:append="show2 = !show2"
          @input="validate"
          :rules="rules.equalPassword"
          label="Confirmar Nova senha"
          required
        ></v-text-field>

        <div class="buttonsContainer">
          <v-btn color="error" @click="resetForm" class="button"> Limpar </v-btn>

          <v-btn color="success" @click="update" :disabled="!isFormValid" class="button">
            Confirmar
          </v-btn>
        </div>
      </v-form>
    </div>
  </v-dialog>
</template>

<script>
import { update } from '@/services/assisted.js';
import Popup from '@/common-components/Popup/Popup.vue';

export default {
  components: {
    PopupChange: Popup,
  },
  props: {
    resetPass: {
      type: Boolean,
    },
    assisted: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      form: {
        newPassword: '',
        confirmNewPassword: '',
      },
      rules: {
        equalPassword: [
          () => this.form.newPassword === this.form.confirmNewPassword || 'Senha não confere',
          (v) => !!v || 'Preencha esse campo',
        ],
      },
      isFormValid: false,
      show1: false,
      show2: false,
      type: 'resetPass',
      openChangeConfirmationDialog: false,
    };
  },

  // created() {
  //   this.initialize();
  // },

  methods: {
    resetForm() {
      if (this.$refs.form) this.$refs.form.reset();
    },

    validate() {
      if (!this.form.confirmNewPassword) return false;
      return this.$refs.form.validate();
    },

    // async initialize() {
    //   this.assisted = await getOne(this.assistedId);
    //   console.log(this.assisted.fullName);
    // },

    async update() {
      if (this.validate()) {
        let id = this.assisted.id;
        const fd = new FormData();
        fd.append('password', this.form.confirmNewPassword);
        let status = await update(fd, id);
        if (status.status == 200) {
          this.openChangeConfirmationDialog = true;
          this.$emit('closeModal');
        } else {
          this.type = 'internalError';
          this.openChangeConfirmationDialog = true;
        }
      }
    },
  },
};
</script>

<style scoped>
.fields {
  width: 100%;
}

.label-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.card {
  position: relative;
  /* width: 40%; */
  background-color: white;
  padding: 60px 22px;
  -webkit-box-shadow: 2px 11px 19px rgb(0 0 0 / 50%);
  box-shadow: 2px 11px 19px rgb(0 0 0 / 50%);
  border-radius: 10px;
  /* bottom: 20%; */
  /* right: 30%; */
  /* margin: 0 auto; */
  /* margin-top: 40px; */
  /* height: 600px; */
}

.buttonsContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 30px;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.button {
  width: 70%;
  justify-items: center;
}

.close {
  position: absolute;
  top: 4%;
  right: 4%;
}
</style>
