<template>
  <div id="content">
    <Popup :dialog="openDialog" @confirm="deleteItem" @cancel="openDialog = false" :type="type" />
    <FormHeader
      class="header"
      title="Autor"
      subTitle=" - Lista de Autores Cadastrados"
      url="/register_author"
      :list="route"
    ></FormHeader>
    <v-card class="table">
      <div
        :class="[
          'searchContainer',
          $vuetify.breakpoint.smAndDown ? 'searchMobile' : 'searchDesktop',
        ]"
      >
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Busca"
          class="searchBar"
        ></v-text-field>
        <v-btn color="indigo" dark class="addAuthor" to="/register_author"> Cadastrar Autor </v-btn>
      </div>
      <v-data-table :headers="headers" :items="authors" :search="search">
        <template v-slot:body="{ items }">
          <tr v-for="item in items" :key="item.cpf">
            <td class="tableName">{{ item.fullName }} - {{ getItemAddress(item) }}</td>
            <td>{{ item.cpf }}</td>
            <td>{{ item.dvc }}</td>
            <td>
              
              <v-btn
                @click="router - link"
                :to="{ path: '/edit_author', query: { id: item.id } }"
                icon
              >
                <v-icon>mdi-account-edit</v-icon>
              </v-btn>
              <v-btn @click="openPopupItem(item)" icon color="danger">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import FormHeader from '@/common-components/FormHeader/FormHeader.vue';
import Popup from '@/common-components/Popup/Popup.vue';
import { getAuthors, deleteAuthor } from '@/services/author.js';

export default {
  components: {
    FormHeader,
    Popup,
  },
  data() {
    return {
      authors: [],
      route: [
        { name: 'Página Inicial', route: 'home' },
        { name: 'Gerenciar Autor', route: '' },
      ],
      headers: [
        { text: 'Nome', align: 'start', sortable: true, value: 'fullName' },
        { text: 'CPF', value: 'cpf', sortable: false },
        { text: 'DVC', value: 'dvc', sortable: false },
        { text: 'Ações', value: 'actions', sortable: false },
      ],
      search: '',
      openDialog: false,
      selected: {},
      type: 'delete',
    };
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      this.authors = await getAuthors();
      console.log(this.authors)
    },
    openPopupItem(item) {
      this.type = 'delete';
      this.selected = item;
      this.openDialog = true;
    },
    async deleteItem() {
      await deleteAuthor(this.selected.id);
      await this.initialize();
      this.openDialog = false;
    },
    openPopupEdit(edit) {
      this.type = 'editAuthor';
      this.selected = edit;
      this.openDialog = true;
    },
    getItemAddress (item){
      if(!item.authorAddresses)
        return "Sem endereço associado";

      var address = item.authorAddresses[0];

      if(!address)
        return "Sem endereço associado";
      else
        return address['district'] + "/" + address['city'];
    },
  },
};
</script>

<style scoped>
#content {
  padding: 1% 3%;
}
.table {
  margin-top: 40px;
  padding: 1% 3%;
}
.routerLink {
  text-decoration: none;
  float: left;
}
.redirect {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.redirect a {
  background: #7a8190;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.redirect a span {
  border: 2px solid white;
  padding: 5px 10px;
  font-size: 32px;
  color: white;
  text-decoration: none;
}

.searchContainer {
  display: grid;
  grid-gap: 20px;
  align-items: center;
}
.searchDesktop {
  grid-template-columns: 80% 20%;
}

.searchmobile {
  grid-template-rows: repeat(auto, 2);
  grid-template-columns: 1fr;
}

.tableName{
  width: 42%;
  text-align: start;
}
</style>
