<template>
  <div class="author-form">
    <Popup
      :dialog="openDialog"
      :type="type"
      :disableReturn="true"
      :text="'Autor editado com sucesso'"
      @onButtonPressed="closeModal()"
    />
    <FormHeader class="header" title="Editar Autor" :list="routes" />
    <div :class="['forms', $vuetify.breakpoint.smAndDown ? 'mobile' : 'desktop']">
      <EditAuthorForm ref="authorForm" @sendData="fetchData" class="container" />
      <EditAuthorAddressForm ref="addressForm" @sendData="fetchData" class="container" />
    </div>
    <div class="buttons">
      <v-btn class="btn" raised color="gray" @click="$router.go(-1)"> Cancelar </v-btn>

      <v-btn class="btn" raised color="success" :loading="isLoading" @click="sendAuthor()">
        Salvar
      </v-btn>
    </div>
  </div>
</template> 

<script>
import FormHeader from '@/common-components/FormHeader/FormHeader.vue';
import Popup from '@/common-components/Popup/Popup.vue';
import EditAuthorAddressForm from './EditAuthorAddressForm.vue';
import EditAuthorForm from './EditAuthorForm.vue';
import { editAuthor } from '@/services/author.js';

export default {
  data: () => ({
    routes: [
      { name: 'Pagina Inicial', route: 'home' },
      { name: 'Gerenciar Autor', route: 'manege_authors' },
      { name: 'Editar Autor', router: '' },
    ],
    form: {},
    openDialog: false,
    isLoading: false,
    status: null,
    type: 'delete',
  }),

  methods: {
    fetchData(form) {
      Object.keys(form).map((key) => {
        this.form[key] = form[key];        
      });
    },
    async sendAuthor() {
      const id = this.$route.query.id;
      const { authorValid, authorAddress } = this.form;

      console.log(this.form)
      const addressValid = authorAddress.addressValid;
      const form = { ...this.form, ...this.form.authorAddress };

      console.log(form)

      console.log(authorValid + ' | ' + addressValid);

      if (authorValid && addressValid) {
        this.isLoading = true;
        const fd = new FormData();
        if (form.photograph){
          for (let x = 0; x < form.photograph.length; x++) {
            fd.append('photograph', form.photograph[x]);
          }
        } 
        for (const field in form) {
          if (
            field !== 'id' &&
            field !== 'authorValid' &&
            field !== 'addressValid' &&
            field !== 'image' &&
            field !== 'photograph' &&
            field !== 'authorAddresses' &&
            field !== 'password' &&
            field !== 'authorAddress'
          ) {
            if (field === 'cep' || field === 'cpf') {
              let sanitizedField = form[field].replaceAll('-', '');
              sanitizedField = sanitizedField.replaceAll('.', '');
              fd.append(`${field}`, sanitizedField);
            } else {
              fd.append(`${field}`, form[field]);
            }
          }
        }
        for (var pair of fd.entries()) {
          console.log(pair[0] + ', ' + pair[1]);
        }
        this.status = await editAuthor(id, fd);
        console.log(this.status);
        if (this.status.status == 200) {
          this.type = 'editAssisted';
          this.openDialog = true;
        } else {
          this.type = 'internalError';
          this.openDialog = true;
        }
        this.isLoading = false;
      }
    },
    closeModal() {
      this.openDialog = false;
      if (this.status.status == 200) {
        this.$router.push('/manage_authors');
      }
    },
  },
  components: {
    FormHeader,
    EditAuthorForm,
    EditAuthorAddressForm,
    Popup,
  },
};
</script>

<style>
.author-form {
  padding: 1% 3%;
}

.forms {
  display: grid;
  max-width: 100%;
  min-height: 95%;
  justify-content: center;
}

.desktop {
  grid-template-columns: 50% 50%;
}

.mobile {
  grid-template-rows: repeat(auto, 3);
  grid-template-columns: 1fr;
}

.container {
  width: 90%;
  margin-top: 20px;
  padding: 0;
}

.buttons {
  position: relative;
  bottom: 15%;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 1rem;
}

.btn {
  margin-right: 0.7rem;
  margin-left: 0.3rem;
}
</style>