<template>
  <div>
    <h1 class="headline">Informações Pessoais</h1>
    <v-form class="form" ref="authorForm" v-model="form.authorValid">
      <v-text-field
        v-model="form.fullName"
        :rules="rules.fullName"
        label="Nome Completo"
        dense
        outlined
        @input="sendData()"
      />
      <v-text-field
        v-model="form.cpf"
        v-mask="'###.###.###-##'"
        label="CPF"
        :rules="rules.cpf"
        maxlength="14"
        dense
        outlined
        @input="sendData()"
      />
      <v-textarea
        height="100px"
        v-model="form.observation"
        :rules="rules.observation"
        label="Observação"
        dense
        outlined
        no-resize
        @input="sendData()"
      />

      <div style="display: flex; align-items: center">
        <v-text-field
          v-model="form.dvc"
          dense
          outlined
          label="DVC"
          :rules="rules.dvc"
          @input="sendData()"
        />
        <v-checkbox
          v-model="form.hasGun"
          label="Porte de arma?"
          style="margin: 0px 15px; padding: 0"
          @input="sendData()"
        />
      </div>
      <div class="image-group">
        <div
          v-for="index in imgArray.length >= 5 ? 5 : imgArray.length + 1"
          :key="index"
          class="image-container"
        >
          <input
            style="display: none"
            ref="imgInput"
            type="file"
            accept="image/*"
            @change="loadFile"
          />
          <div class="imgContainer">
            <img
              v-if="imgArray[index - 1]"
              class="img"
              :src="imgArray[index - 1]"
              @click="$refs.imgInput[index - 1].click()"
            />
            <v-tooltip v-else bottom>
              <template v-slot:activator="{ on }">
                <v-btn v-on="on" icon @click="$refs.imgInput[index - 1].click()">
                  <v-icon large :color="imgError ? 'error' : 'primary'"
                    >mdi-file-image-outline</v-icon
                  >
                </v-btn>
              </template>
              <span>Enviar Imagem</span>
            </v-tooltip>
          </div>
          <button
            v-if="index <= imgArray.length"
            class="deleteButton"
            @click="removeImageInput($event, index)"
          >
            X
          </button>
        </div>
      </div>
    </v-form>
  </div>
</template>

<script>
import { getOne, getAuthorPicture } from '@/services/author.js';

export default {
  data: () => ({
    form: {
      authorValid: false,
      fullName: '',
      cpf: '',
      observation: '',
      dvc: '',
      hasGun: false,
      photograph: [],
    },
    rules: {
      fullName: [
        (v) => !!v || 'O campo é obrigatório',
        (v) => v.length < 255 || 'No máximo 255 caracteres',
        (v) => /^([^0-9]*)$/.test(v) || 'Digitos não são aceitos',
        // (v) => /^[-+=(),'.a-zA-Z0-9]+$/.test(v) || 'Caracteres especiais não são aceitos',
      ],
      cpf: [
        (v) => v.length == 0 || v.length == 14 ? null : 'CPF inválido!'],
      dvc: [
        (v) => !!v || 'O campo é obrigatório',
        (v) => v.length < 60 || 'No máximo 60 caracteres',
      ],
      image: [
        (v) => !!v || 'Imagem obrigatoria',
        (v) => (v && v.length > 0) || 'Imagem obrigatória',
      ],
      observation: [
        (v) => !!v || 'O campo é obrigatório',
        (v) => v.length < 300 || 'No máximo 300 caracteres',
      ],
    },
    imgArray: [],
    imgError: false,
  }),
  watch: {
    form: {
      handler() {
        this.sendData();
      },
      deep: true,
    },
  },
  async created() {
    await this.initialize();
  },
  methods: {
    async initialize() {
      let author = await getOne(this.$route.query.id);
      this.form = author;
      let imgs = await getAuthorPicture(this.$route.query.id);

      this.imgArray = imgs.map((item) => {
        return process.env.VUE_APP_API + 'img/' + item.name;
      });
      this.form.photograph = [];
      await this.imgArray.forEach(async (element) => {
        let file;
        await fetch(element).then(async (response) => {
          const contentType = response.headers.get('content-type');
          const blob = await response.blob();
          file = new File([blob], 'img.' + this.getUrlExt(element), { contentType });
        });
        this.form.photograph.push(file);
      });
      this.sendData();
    },
    sendData() {
      this.$refs.authorForm.validate();

      this.$emit('sendData', this.form);
    },
    async loadFile($event) {
      let filesLength = $event.target.files.length;
      let maxFiles = 5;
      if (!filesLength) return;
      let imgArray = Array.from($event.target.files);
      this.form.photograph = [];

      imgArray.map((img, index) => {
        if (index > maxFiles - 1) return;
        let convertedImageUrl = URL.createObjectURL(img);
        this.imgArray.push(convertedImageUrl);
      });

      for (let i = 0; i < this.imgArray.length; i++) {
        let file = null;
        await fetch(this.imgArray[i]).then(async (response) => {
          const contentType = response.headers.get('content-type');
          const blob = await response.blob();
          file = new File([blob], 'img.' + this.getUrlExt(this.imgArray[i]), { contentType });
        });
        this.form.photograph.push(file);
      }
      this.sendData();
    },
    removeImageInput($event, index) {
      $event.preventDefault();
      this.form.photograph.splice(index - 1, 1);
      this.imgArray.splice(index - 1, 1);
    },
    getUrlExt(url) {
      return url.split(/[#?]/)[0].split('.').pop().trim();
    },
  },
};
</script>

<style scoped lang="css">
h1 {
  margin-bottom: 20px;
}
.form {
  width: 100%;
}

.image-group {
  width: 100%;
  display: inline-grid;
  align-items: center;
  grid-template-columns: repeat(5, 20%);
}
.image-container {
  position: relative;
  padding: 5px;
  height: 100%;
}
.imgContainer {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: solid 1px rgba(0, 0, 0, 0.38);
  border-radius: 5px;
}

.img {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.deleteButton {
  position: absolute;
  top: 29px;
  right: 8px;
  font-size: 10px;
  background: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: white;
}
</style>