<template>  
  <div id="content">
    <Change :resetPass="resetPass" :assisted="selectedAssisted" @closeModal="resetPass = false" ref="change"/>
    <Popup :dialog="openDialog" @confirm="deleteItem" @cancel="openDialog = false" :type="type" />
    <FormHeader
      class="header"
      title="Assistida"
      subTitle=" - Lista de Assistidas Cadastradas"
      :list="route"
    ></FormHeader>
    <v-card class="table">
      <div
        :class="[
          'searchContainer',
          $vuetify.breakpoint.smAndDown ? 'searchMobile' : 'searchDesktop',
        ]"
      >
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Busca"
          class="searchBar"
        ></v-text-field>
        <v-btn color="indigo" dark class="addAssisted" to="/register_assisted">
          Cadastrar Assistida
        </v-btn>
      </div>
      <v-data-table :headers="headers" :items="assisteds" :search="search">
        <template v-slot:body="{ items }">
          <tr v-for="item in items" :key="item.cpf">
            <td class="tableName">{{item.fullName}} - {{ getItemAddress(item) }}</td>
            <td>{{ item.cpf }}</td>
            <td>
              <v-btn
                id="edit"
                @click="router - link"
                :to="{ path: '/edit_assisted', query: { id: item.id } }"
                icon
              >
                <v-icon>mdi-account-edit</v-icon>
              </v-btn>
              <v-btn @click="changePassword(item)" icon>
                <v-icon>mdi-key</v-icon>
              </v-btn>
              <v-btn id="delete" @click="openPopupItem(item)" icon color="danger">
                <v-icon>mdi-delete</v-icon>
              </v-btn>              
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card>    
  </div>
</template>
<script>
import FormHeader from '@/common-components/FormHeader/FormHeader.vue';
import Popup from '@/common-components/Popup/Popup.vue';
import Change from '@/components/ChangePass/Change.vue';
import { getOne, getAssisteds, deleteAssisted } from '@/services/assisted.js';

export default {
  components: {
    FormHeader,
    Popup,
    Change
  },
  data() {
    return {
      assisteds: [],
      route: [
        { name: 'Página Inicial', route: 'home' },
        { name: 'Gerenciar Assistida', route: '' },
      ],
      headers: [
        { text: 'Nome', align: 'start', value: 'fullName', sortable: true },
        { text: 'CPF', align: 'center', value: 'cpf', sortable: false },
        { text: 'Ações', align: 'center', value: 'actions', sortable: false },
      ],
      search: '',
      openDialog: false,
      selected: {},
      resetPass: false,
      selectedAssisted: null,
      type: 'delete',
    };
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      this.assisteds = await getAssisteds();
    },

    openPopupItem(item) {
      this.selected = item;
      this.openDialog = true;
    },

    async deleteItem() {
      await deleteAssisted(this.selected.id);
      await this.initialize();
      this.openDialog = false;
    },

    async changePassword(item) {
      this.selectedAssisted = await getOne(item.id);  
      this.resetPass = true;

      this.$refs.change.resetForm();
    },

    getItemAddress (item){
      if(!item.assistedAddresses)
        return "Sem endereço associado";

      var address = item.assistedAddresses[0];

      if(!address)
        return "Sem endereço associado";
      else
        return address['district'] + "/" + address['city'];
    },
  },
};
</script>
<style scoped>
#content {
  padding: 1% 3%;
}
.table {
  margin-top: 40px;
  padding: 1% 3%;
  text-align: center;
}
.routerLink {
  text-decoration: none;
  float: left;
}

.changePassword {
  font-size: 9pt;
  margin-left: 10px;
  margin-top: 2px;
}
.redirect {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.redirect a {
  background: #7a8190;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.redirect a span {
  border: 2px solid white;
  padding: 5px 10px;
  font-size: 32px;
  color: white;
  text-decoration: none;
}

.searchContainer {
  display: grid;
  grid-gap: 20px;
  align-items: center;
}
.searchDesktop {
  grid-template-columns: 80% 20%;
}

.searchmobile {
  grid-template-rows: repeat(auto, 2);
  grid-template-columns: 1fr;
}

.tableName{
  width: 45%;
  text-align: start;
}
</style>
