<template>
  <div class="assisted-form">
    <Popup
      :dialog="openDialog"
      :type="type"
      :disableReturn="true"
      @onButtonPressed="closeModal()"
    />
    <FormHeader class="header" title="Editar Assistida" subTitle :list="routes" />
    <div :class="['forms', $vuetify.breakpoint.smAndDown ? 'mobile' : 'desktop']">
      <EditAssistedForm ref="assistedForm" @sendData="fetchData" class="container" />
      <EditAssistedAddressForm ref="addressForm" @sendData="fetchData" class="container" />
    </div>
    <div class="buttons">
      <v-btn class="btn" raised color="gray" @click="$router.go(-1)">
        Cancelar
      </v-btn>

      <v-btn class="btn" raised color="success" :loading="isLoading" @click="sendAssisted()">
        Salvar
      </v-btn>
    </div>
  </div>
</template> 

<script>
import FormHeader from '@/common-components/FormHeader/FormHeader.vue';
import Popup from '@/common-components/Popup/Popup.vue';
import EditAssistedAddressForm from './EditAssistedAddressForm.vue';
import EditAssistedForm from './EditAssistedForm.vue';
import { update } from '@/services/assisted.js';

export default {
  data: () => ({
    routes: [
      { name: 'Pagina Inicial', route: 'home' },
      { name: 'Gerenciar Assistida', route: 'manage_assisteds' },
      { name: 'Editar Assistida', route: '' },
    ],
    form: {},
    openDialog: false,
    isLoading: false,
    status: null,
    type: null,
  }),
  async created() {
    await this.initialize();
  },
  methods: {
    fetchData(form) {
      Object.keys(form).map((key) => {
        this.form[key] = form[key];
      });
    },
    async initialize() {},
    async sendAssisted() {
      const id = this.$route.query.id;
      const { assistedValid, assistedAddress } = this.form;
      const addressValid = assistedAddress.addressValid;
      const form = { ...this.form, ...this.form.assistedAddress };

      if (assistedValid && addressValid) {
        this.isLoading = true;
        const fd = new FormData();
        if (form.photograph){
          for (let x = 0; x < form.photograph.length; x++) {
            fd.append('photograph', form.photograph[x]);
          }
        } 
        for (const field in form) {
          if (
            field !== 'id' &&
            field !== 'assistedValid' &&
            field !== 'addressValid' &&
            field !== 'image' &&
            field !== 'photograph' &&
            field !== 'assistedAddresses' &&
            field !== 'assistedAddress'
          ) {
            if (field === 'cep' || field === 'cpf') {
              let sanitizedField = form[field].replaceAll('-', '');
              sanitizedField = sanitizedField.replaceAll('.', '');
              fd.append(`${field}`, sanitizedField);
            } else {
              fd.append(`${field}`, form[field]);
            }
          }
        }
        this.status = await update(fd, id);
        if (this.status.status == 200) {
          this.type = 'editAssisted';
          this.openDialog = true;
        } else {
          this.type = 'internalError';
          this.openDialog = true;
        }
        this.isLoading = false;
      }
    },
    closeModal() {
      this.openDialog = false;
      if (this.status.status == 200) {
        this.$router.push('/manage_assisteds');
      }
    },
  },

  components: {
    FormHeader,
    EditAssistedAddressForm,
    EditAssistedForm,
    Popup,
  },
};
</script>

<style>
.assisted-form {
  padding: 1% 3%;
}

.forms {
  display: grid;
  max-width: 100%;
  min-height: 95%;
  justify-content: center;
}

.desktop {
  grid-template-columns: 50% 50%;
}

.mobile {
  grid-template-rows: repeat(auto, 3);
  grid-template-columns: 1fr;
}

.container {
  width: 90%;
  margin-top: 20px;
  padding: 0;
}

.buttons {
  position: relative;
  bottom: 15%;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 1rem;
}

.btn {
  margin-right: 0.7rem;
  margin-left: 0.3rem;
}
</style>