<template>
  <div>
    <h1 class="headline">Endereço</h1>
    <v-form
      v-model="form.assistedAddress.addressValid"
      class="form"
      ref="addressForm"
    >
      <div style="display: flex">
        <v-text-field
          v-model="form.assistedAddress.cep"
          ref="cep"
          v-mask="'#####-###'"
          label="CEP"
          :rules="rules.cep"
          maxlength="9"
          dense
          outlined
          @input="sendData(); getAddress($event);"
        />
        <v-text-field
          v-model="form.assistedAddress.number"
          label="N°"
          dense
          outlined
          :rules="rules.number"
          style="width: 5%; margin-left: 10px"
          validate-on-blur
          @input="sendData()"
        />
      </div>
      <v-text-field
        v-model="form.assistedAddress.street"
        label="Endereço"
        :rules="rules.street"
        dense
        outlined
        @input="sendData()"
      />
      <v-text-field
        v-model="form.assistedAddress.district"
        class="address-input"
        label="Bairro"
        :rules="rules.district"
        dense
        outlined
        @input="sendData()"
      />
      <div style="display: flex">
        <v-text-field
          v-model="form.assistedAddress.city"
          label="Cidade"
          :rules="rules.city"
          dense
          outlined
          @input="sendData()"
        />
        <v-autocomplete
          v-model="form.assistedAddress.state"
          label="Estado"
          :items="states"
          :rules="rules.state"
          dense
          outlined
          @input="sendData()"
          no-data-text="Nenhuma correspondência"
          style="width: 5%; margin-left: 10px"
        />
      </div>
    </v-form>
  </div>
</template>

<script>
import cepPromise from 'cep-promise';
import { getOne } from '@/services/assisted.js';

export default {
  data: () => ({
    form: {
      assistedAddress: {
        addressValid: false,
        cep: '',
        number: '',
        street: '',
        district: '',
        city: '',
        state: '',
      },
    },
    states: [
      'AC',
      'AL',
      'AP',
      'AM',
      'BA',
      'CE',
      'DF',
      'ES',
      'GO',
      'MA',
      'MT',
      'MS',
      'MG',
      'PA',
      'PB',
      'PR',
      'PE',
      'PI',
      'RJ',
      'RN',
      'RS',
      'RO',
      'RR',
      'SC',
      'SP',
      'SE',
      'TO',
    ],
    rules: {
      cep: [
        (v) => /^(([0-9]{5}-[0-9]{3}))$/.test(v) || 'CEP inválido',
        (v) => !!v || 'O campo é obrigatório',
      ],
      number: [
        (v) => !!v || 'O campo é obrigatório',
        (v) => !isNaN(v) || 'Deve ser um número',
        (v) => v.length <= 5 || 'No máximo 5 digitos',
      ],
      street: [
        (v) => !!v || 'O campo é obrigatório',
        (v) => v.length <= 300 || 'No máximo 300 digitos',
      ],
      district: [
        (v) => !!v || 'O campo é obrigatório',
        (v) => v.length <= 60 || 'No máximo 60 caracteres',
      ],
      state: [
        (v) => !!v || 'O campo é obrigatório',
        (v) => v.length <= 5 || 'No máximo 5 caracteres',
      ],
      city: [
        (v) => !!v || 'O campo é obrigatório',
        (v) => v.length <= 20 || 'No máximo 20 caracteres',
      ],
    },
  }),
  watch: {
    form: {
      handler() {
        this.sendData();
      },
      deep: true,
    },
  },
  async created() {
    await this.initialize();
  },
  methods: {
    sendData() {
      this.$refs.addressForm.validate();
      this.$emit('sendData', this.form);
    },
    async initialize() {
      let address = await getOne(this.$route.query.id);
      this.form.assistedAddress = address.assistedAddresses[0];
      this.pegaEstado(this.form.assistedAddress.state);
      this.sendData();
    },
    pegaEstado(state) {
      switch (state) {
        case 'Acre': {
          this.form.assistedAddress.state = 'AC';
          break;
        }
        case 'Alagoas': {
          this.form.assistedAddress.state = 'AL';
          break;
        }
        case 'Amapá': {
          this.form.assistedAddress.state = 'AP';
          break;
        }
        case 'Amazonas': {
          this.form.assistedAddress.state = 'AM';
          break;
        }
        case 'Bahia': {
          this.form.assistedAddress.state = 'BA';
          break;
        }
        case 'Ceará': {
          this.form.assistedAddress.state = 'CE';
          break;
        }
        case 'Distrito Federal': {
          this.form.assistedAddress.state = 'DF';
          break;
        }
        case 'Espírito Santo': {
          this.form.assistedAddress.state = 'ES';
          break;
        }
        case 'Goiás': {
          this.form.assistedAddress.state = 'GO';
          break;
        }
        case 'Maranhão': {
          this.form.assistedAddress.state = 'MA';
          break;
        }
        case 'Mato Grosso': {
          this.form.assistedAddress.state = 'MT';
          break;
        }
        case 'Mato Grosso do Sul': {
          this.form.assistedAddress.state = 'MS';
          break;
        }
        case 'Minas Gerais': {
          this.form.assistedAddress.state = 'MG';
          break;
        }
        case 'Pará': {
          this.form.assistedAddress.state = 'PA';
          break;
        }
        case 'Paraíba': {
          this.form.assistedAddress.state = 'PB';
          break;
        }
        case 'Paraná': {
          this.form.assistedAddress.state = 'PR';
          break;
        }
        case 'Pernambuco': {
          this.form.assistedAddress.state = 'PE';
          break;
        }
        case 'Piauí': {
          this.form.assistedAddress.state = 'PI';
          break;
        }
        case 'Rio de Janeiro': {
          this.form.assistedAddress.state = 'RJ';
          break;
        }
        case 'Rio Grande do Norte': {
          this.form.assistedAddress.state = 'RN';
          break;
        }
        case 'Rio do Sul': {
          this.form.assistedAddress.state = 'RS';
          break;
        }
        case 'Roraima': {
          this.form.assistedAddress.state = 'RR';
          break;
        }
        case 'Rondônia': {
          this.form.assistedAddress.state = 'RO';
          break;
        }
        case 'Santa Catarina': {
          this.form.assistedAddress.state = 'SC';
          break;
        }
        case 'São Paulo': {
          this.form.assistedAddress.state = 'SP';
          break;
        }
        case 'Sergipe': {
          this.form.assistedAddress.state = 'SE';
          break;
        }
        case 'Tocantins': {
          this.form.assistedAddress.state = 'TO';
          break;
        }
        default: {
          break;
        }
      }
    },
    async getAddress(cep) {
      console.log(cep);
      if (!cep) return null;
      cep = cep.replace('-', '');
      if (cep.length !== 8) return;
      try {
        let response = await cepPromise(cep);
        for (let key in response) {
          const element = response[key];
          // must change based on api
          key = key == 'cep' ? 'cep' : key;
          key = key == 'neighborhood' ? 'district' : key;
          this.form.assistedAddress[key] =
            this.form.assistedAddress[key] == '' ? element : this.form.assistedAddress[key];
        }
        this.sendData();
      } catch (e) {
        console.warn(e);
      }
    },
  },
};
</script>

<style scoped lang="css">
h1 {
  margin-bottom: 20px;
}
.form {
  width: 100%;
  /* display: grid;
  height: 100%;
  grid-template-columns: 75% 20%;
  grid-column-gap: 5%; */
}
</style>