<template>
  <div>
    <div v-if="true">
      <div :class="['titleContainer', $vuetify.breakpoint.smAndDown ? 'mobileTitleContainer' : 'titleContainer']">
        <div :class="['line', $vuetify.breakpoint.smAndDown ? 'mobileLine' : 'line']" style="margin-left: 10%;"/> 
        <div><h2>Informações Medida Protetiva</h2></div>       
        <div :class="['line', $vuetify.breakpoint.smAndDown ? 'mobileLine' : 'line']" style="margin-right: 10%;"/> 
      </div>

      <div :class="['data', $vuetify.breakpoint.smAndDown ? 'mobile' : 'desktop']">
        <div class="container">
          <div class="prop"><b>Data:</b> {{moment(String(measure.createdAt)).utcOffset(0, false).format('DD/MM/YYYY [ás] HH:mm')}}</div> 
          <div class="prop"><b>Vencimento:</b> {{moment(String(measure.validity)).utcOffset(0, false).format('DD/MM/YYYY [ás] HH:mm')}}</div> 
          <div class="prop"><b>Descrição:</b> {{measure.description}}</div> 
          <div class="prop"><b>Numero de Processo:</b> {{measure.processNumber}}</div> 
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import 'moment/locale/es' 


export default {
  props: {
    measure: {
      type: Object
    }
  },

  data : () => ({
  }),

  methods:{
    moment
  }
}
</script>