<template>
  <div class="">
    <v-form class="measure-form" ref="formMeasure" lazy-validation>
      <div class="select">
        <v-select
          v-model="form.assistedId"
          :items="assisteds"
          :item-text="getAssistedName"
          :item-value="'id'"
          :rules="rules.required"
          label="Selecione uma assistida"
          outlined
          @change="sendData"
        />
      </div>
      <div class="select">
        <v-select
          v-model="form.authorId"
          :items="authors"
          :item-text="getAuthorName"
          :item-value="'id'"
          :rules="rules.required"
          label="Selecione um autor"
          validate-on-blur
          outlined
          @change="sendData"
        />
      </div>
      <div class="text">
        <v-text-field
          v-model="form.description"
          :item-text="'description'"
          :rules="rules.required"
          label="Descrição"
          validate-on-blur
          outlined
          @change="sendData"
        />
      </div>
      <div class="text">
        <v-text-field
          v-model="form.processNumber"
          :item-text="'processNumber'"
          label="Número do Processo"
          outlined
          @change="sendData"
        />
      </div>

      <div class="select">
        <v-menu
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="form.validity"
              label="Validade da Medida"
              append-icon="mdi-calendar"
              :rules="rules.required"
              readonly
              v-bind="attrs"
              v-on="on"
              outlined
              @input="sendData"
            />
          </template>
          <v-date-picker
            v-model="form.validity"
            locale="pt-br"
            :min="new Date().toISOString().substr(0, 10)"
            @change="sendData"
          />
        </v-menu>
      </div>
    </v-form>
  </div>
</template>
<script>
import { getAssisteds } from "@/services/assisted.js";
import { getAuthors } from "@/services/author.js";

export default {
  data() {
    return {
      authors: [],
      assisteds: [],
      form: {
        assistedId: null,
        authorId: null,
        validity: null,
        description: null,
        processNumber: null,
      },
      rules: {
        required: [(v) => !!v || "O campo é obrigatório"],
      },
    };
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      this.assisteds = await getAssisteds();
      this.authors = await getAuthors();
      this.sendData();
    },
    sendData() {
      this.$emit("sendData", this.form);
    },
    getAssistedName(data){
      return data.fullName + " - " + this.getAssistedAddress(data);
    },
    getAuthorName(data){
      return data.fullName + " - " + this.getAuthorAddress(data);
    },

    getAuthorAddress(item) {
      if (!item.authorAddresses) return 'Sem endereço associado';

      var address = item.authorAddresses[0];

      if (!address) return 'Sem endereço associado';
      else return address['district'] + '/' + address['city'];
    },

    getAssistedAddress(item) {
      if (!item.assistedAddresses) return 'Sem endereço associado';
      var address = item.assistedAddresses[0];

      if (!address) return 'Sem endereço associado';
      else return address['district'] + '/' + address['city'];
    },
  },
};
</script>

<style scoped>
h1 {
  margin-bottom: 20px;
}

.form {
  width: 100%;
}

.select,
.text {
  margin: auto;
}
</style>
