<template>
  <div id="content">
    <Popup
      :dialog="openDialog"
      :type="type"
      :disableReturn="true"
      :text="text"
      @onButtonPressed="closeModal()"
    />
    <FormHeader
      class="header"
      title="Medida Protetiva"
      subTitle=" - Cadastrar Medida Protetiva"
      :list="route"
    ></FormHeader>
    <div class="measure-form">
      <h2 style="padding-bottom: 30px;">Preencha os campos</h2>
      <MeasureForm @sendData="fetchData" ref="measureComponent"/>
      <div class="buttons">
        <v-btn raised class="btn" color="gray" @click="$router.go(-1)">Cancelar</v-btn>
        <v-btn raised class="btn" color="success" :loading="isLoading" @click="createMeasure"
          >Cadastrar</v-btn
        >
      </div>
    </div>
  </div>
</template>

<script>
import FormHeader from '@/common-components/FormHeader/FormHeader.vue';
import MeasureForm from './MeasureForm/MeasureForm.vue';
import Popup from '@/common-components/Popup/Popup.vue';
import { registerMeasure } from '@/services/measure.js';

export default {
  components: {
    FormHeader,
    Popup,
    MeasureForm,
  },
  data: () => ({
    route: [
      { name: 'Página Inicial', route: 'home' },
      { name: 'Gerenciar Medida Protetiva', route: 'manage_protectives' },
      { name: 'Cadastrar Medida Protetiva', route: '' },
    ],
    form: {},
    openDialog: false,
    isLoading: false,
    status: null,
    text: null,
    type: 'delete',
  }),
  methods: {
    fetchData(form) {
      Object.keys(form).map((key) => {
        this.form[key] = form[key];
      });
    },
    async createMeasure() {
      console.log(this.form)
      if (!this.$refs.measureComponent.$refs.formMeasure.validate()) {
        return;
      }

      let form = { ...this.form };
      delete form.valid;
      this.isLoading = true;

      form.validity = this.dateFormat(form.validity);

      this.status = await registerMeasure(form);
      console.log(this.status)
      if (this.status.status == 200) {
        this.type = 'success';
        this.text = 'Medida Protetiva criada com sucesso!';
        this.openDialog = true;
      } else {
        this.type = 'internalError';
        this.text = null;
        this.openDialog = true;
      }
      this.isLoading = false;
    },
    dateFormat(date) {
      if (date) return new Date(date).toISOString();
      return null;
    },

    closeModal() {
      this.openDialog = false;
      if (this.status.status == 200) {
        this.$router.go(-1);
      }
    },
  },
};
</script>

<style scoped>
#content {
  padding: 1% 3%;
}

.measure-form {
  padding: 3% 10%;
}

.buttons {
  position: relative;
  bottom: 15%;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 1rem;
}

.btn {
  margin-right: 0.7rem;
  margin-left: 0.3rem;
}
</style>
