<template>
  <div class="assisted-form">
    <Popup
      :dialog="openDialog"
      :type="type"
      :text="text"
      :disableReturn="true"
      @onButtonPressed="closeModal()"
    />
    <FormHeader
      class="header"
      title="Assistida"
      subTitle=" - Cadastrar Assistida"
      :list="routes"
    />
    <div :class="['forms', $vuetify.breakpoint.smAndDown ? 'mobile' : 'desktop']">
      <AssistedForm @sendData="fetchData" class="container" ref="assistedForm" />
      <AddressForm @sendData="fetchData" class="container" ref="addressForm" />
    </div>
    <div class="buttons">
      <v-btn class="btn" raised color="gray" @click="$router.go(-1)"> Cancelar </v-btn>

      <v-btn
        class="btn"
        raised
        color="success"
        :loading="isLoading"
        @click="createAssisted()"
      >
        Cadastrar
      </v-btn>
    </div>
  </div>
</template>

<script>
import FormHeader from "@/common-components/FormHeader/FormHeader.vue";
import AddressForm from "@/common-components/AddressForm/AddressForm.vue";
import AssistedForm from "./AssistedForm/AssistedForm.vue";
import Popup from "@/common-components/Popup/Popup.vue";
import { registerAssisted } from "@/services/assisted.js";

export default {
  data: () => ({
    routes: [
      { name: "Pagina Inicial", route: "home" },
      { name: "Gerenciar Assistida", route: "manage_assisteds" },
      { name: "Cadastrar Assistida", route: "" },
    ],
    form: {},
    openDialog: false,
    isLoading: false,
    status: null,
    type: null,
    text: null,
  }),
  methods: {
    fetchData(form) {
      Object.keys(form).map((key) => {
        this.form[key] = form[key];
      });
    },
    async createAssisted() {
      let assistedValid, addressValid;
      const form = { ...this.form };

      assistedValid = this.$refs.assistedForm.$refs.assistedForm.validate();
      addressValid = this.$refs.addressForm.$refs.addressForm.validate();

      if (assistedValid && addressValid) {
        this.isLoading = true;
        const fd = new FormData();
        if (form.photograph) {
          const length = form.photograph.length;
          for (let x = 0; x < length; x++) {
            fd.append("photograph", form.photograph[x]);
          }
        }
        for (const field in form) {
          if (
            field === "assistedValid" ||
            field === "addressValid" ||
            field === "photograph"
          ) {
            continue;
          } else {
            if (field === "cep" || field === "cpf") {
              let sanitizedField = form[field].replaceAll("-", "");
              sanitizedField = sanitizedField.replaceAll(".", "");
              fd.append(`${field}`, sanitizedField);
            } else {
              fd.append(`${field}`, form[field]);
            }
          }
        }
        delete form.photograph;
        this.status = await registerAssisted(fd);
        if (this.status.status == 200) {
          this.text = "Assistida registrada com sucesso!";
          this.type = "success";
          this.openDialog = true;
        } else {
          this.type = "internalError";
          this.openDialog = true;
        }
      }
      this.isLoading = false;
    },
    closeModal() {
      this.openDialog = false;
      if (this.status.status == 200) {
        this.$router.push("/manage_assisteds");
      }
    },
  },
  components: {
    FormHeader,
    AddressForm,
    AssistedForm,
    Popup,
  },
};
</script>

<style>
.assisted-form {
  padding: 1% 3%;
}

.forms {
  display: grid;
  max-width: 100%;
  min-height: 95%;
  justify-content: center;
}

.desktop {
  grid-template-columns: 50% 50%;
}

.mobile {
  grid-template-rows: repeat(auto, 3);
  grid-template-columns: 1fr;
}

.container {
  width: 80%;
  margin-top: 20px;
  padding: 0;
}
.buttons {
  position: relative;
  bottom: 15%;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 1rem;
}

.btn {
  margin-right: 0.7rem;
  margin-left: 0.3rem;
}
</style>
