<template>
  <div class="edit-form-vehicle">
    <Popup
      :dialog="openDialog"
      :type="type"
      :disableReturn="true"
      :text="text"
      @onButtonPressed="closeModal()"
    />
    <FormHeader class="header" title="Editar Veículo" subTitle :list="routes" />
    <EditVehicleForm class="edit-vehicle-form" @sendData="fetchData" />
    <div class="buttons">
      <v-btn class="btn" raised color="gray" @click="$router.go(-1)">
        Cancelar
      </v-btn>

      <v-btn class="btn" raised color="success" :loading="isLoading" @click="updateVehicle()">
        Salvar
      </v-btn>
    </div>
  </div>
</template>

<script>
import FormHeader from '@/common-components/FormHeader/FormHeader.vue';
import EditVehicleForm from './VehicleForm/EditVehicleForm.vue';
import Popup from '@/common-components/Popup/Popup.vue';
import { editVehicle } from '@/services/vehicle.js';

export default {
  components: {
    FormHeader,
    EditVehicleForm,
    Popup,
  },
  data: () => ({
    vehicle: [],
    routes: [
      { name: 'Pagina Inicial', route: 'home' },
      { name: 'Gerenciar Veículo', route: 'manage_vehicles' },
      { name: 'Editar Veículo', route: '' },
    ],
    rules: {
      ano: [
        (v) => v.length < 5 || 'No máximo 4 caracteres',
        (v) => /[0-9]/.test(v) || 'Caracteres especiais não são aceitos',
      ],
      model: [(v) => !!v || 'O campo é obrigatório'],
      plate: [(v) => v.length < 8 || 'No máximo 7 caracteres'],
    },
    form: {},
    openDialog: false,
    isLoading: false,
    status: null,
    text: null,
    type: 'delete',
  }),
  methods: {
    fetchData(form) {
      Object.keys(form).map((key) => {
        this.form[key] = form[key];
      });
    },
    async updateVehicle() {
      const form = { ...this.form };
      const vehicleID = this.$route.query.id;
      console.log(form);
      this.status = await editVehicle(vehicleID, form);
      if (this.status.status == 200) {
        this.type = 'success';
        this.text = 'Veículo editado com sucesso';
        this.openDialog = true;
      } else {
        this.type = 'internalError';
        this.text = null;
        this.openDialog = true;
      }
      this.isLoading = false;
    },
    closeModal() {
      this.openDialog = false;
      if (this.status.status == 200) {
        this.$router.push('/manage_vehicles');
      }
    },
  },
};
</script>

<style scoped>
.edit-form-vehicle {
  padding: 1% 3%;
}

.h1 {
  margin-bottom: 20px;
}

.header {
  margin-bottom: 70px;
}

.form-vehicle {
  width: 100%;
}

.buttons {
  position: relative;
  bottom: 15%;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 1rem;
}

.btn {
  margin-right: 0.7rem;
  margin-left: 0.3rem;
}
</style>
