<template>
  <div>
    <Popup
      :dialog="openDialog"
      :type="type"
      :text="text"
      :disableReturn="true"
      @onButtonPressed="closeModal()"
    />

    <FormHeader title="Veículo" subTitle=" - Cadastrar Veículo" :list="routes" />
    <div>
      <VehicleForm @sendData="fetchData" ref="vehicleForm" />
      <div class="buttons">
        <v-btn class="btn" raised color="gray" @click="$router.go(-1)"> Cancelar </v-btn>

        <v-btn
          class="btn"
          raised
          color="success"
          :loading="isLoading"
          @click="createVehicle()"
        >
          Cadastrar
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import FormHeader from "@/common-components/FormHeader/FormHeader.vue";
import VehicleForm from "./VehicleForm/VehicleForm.vue";
import Popup from "@/common-components/Popup/Popup.vue";
import { registerVehicle } from "@/services/vehicle.js";

export default {
  components: {
    FormHeader,
    VehicleForm,
    Popup,
  },
  data: () => ({
    routes: [
      { name: "Pagina Inicial", route: "home" },
      { name: "Gerenciar Veículo", route: "manage_vehicles" },
      { name: "Cadastrar Veículo", route: "" },
    ],
    form: {},
    openDialog: false,
    isLoading: false,
    status: null,
    type: null,
    text: null,
  }),
  methods: {
    fetchData(form) {
      Object.keys(form).map((key) => {
        this.form[key] = form[key];
      });
    },
    async createVehicle() {
      console.log(this.form);
      let form = { ...this.form, ano: Number(this.form.ano) };
      
      this.isLoading = true;
      if (this.$refs.vehicleForm.$refs.vehicleForm.validate()) {
        console.log(this.form);
        if(this.form.ano == 0)
          this.form.ano = null;
        this.status = await registerVehicle(form);
        console.log(status);
        if (this.status.status == 200) {
          this.type = "success";
          this.text = "Veículo criado com sucesso!";
          this.openDialog = true;
        } else {
          this.type = "internalError";
          this.text = null;
          this.openDialog = true;
        }
      }
      this.isLoading = false;
    },

    closeModal() {
      this.openDialog = false;
      if (this.status.status == 200) {
        this.$router.push("/manage_vehicles");
      }
    },
  },
};
</script>

<style scoped>
.h1 {
  margin-bottom: 20px;
}
.content {
  padding: 1% 3%;
}

.measure-form {
  padding: 3% 10%;
}

.buttons {
  position: relative;
  bottom: 15%;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 1rem;
}

.btn {
  margin-right: 0.7rem;
  margin-left: 0.3rem;
}
</style>
