<template>
  <div id="content" v-if="renderComponent">
    <FormHeader
      class="header"
      title="Medida Protetiva"
      subTitle=" - Informações sobre a Medida Protetiva"
      :list="route"
    ></FormHeader>
    <div v-if="measureList && selectedMeasureId" class="contentContainer">
      <div class="dropdownContainer">
        <h3>
          Foram encontradas {{ measureList.length }} Medidas Protetivas relacionadas a
          esta Assistida.
        </h3>

        <h5 style="font-weight: 500; margin-bottom: 20px">
          Para selecionar, escolha uma medida a partir da lista abaixo.
        </h5>
        <div class="measureDropdown">
          <v-select
            v-model="measure.id"
            :items="measureList"
            :item-text="getAuthorName"
            :item-value="'id'"
            label="Medidas Protetivas"
            outlined
            v-on:change="changeRoute(`${measure.id}`)"
          ></v-select>
        </div>
      </div>

      <assisted :measure="measure" class="content" />
      <author :measure="measure" class="content" />
      <car :measure="measure" class="content" />
      <protectiveMeasure :measure="measure" class="content" />
    </div>
  </div>
</template>

<script>
import { getOne, getByAssisted } from "@/services/measure.js";
import FormHeader from "@/common-components/FormHeader/FormHeader.vue";

export default {
  components: {
    protectiveMeasure: () => import("./ProtectiveMeasure/protectiveMeasure.vue"),
    assisted: () => import("./Assisted/assisted.vue"),
    author: () => import("./Author/author.vue"),
    car: () => import("./Car/car.vue"),
    FormHeader,
  },
  data: () => ({
    route: [
      { name: "Página Inicial", route: "home" },
      { name: "Gerenciar Medida Protetiva", route: "manage_protectives" },
      { name: "Informações Medida Protetiva", route: "" },
    ],
    headers: [
      { text: "Assistida", align: "start", sortable: true, value: "assisted.fullName" },
      { text: "Autor", value: "author", sortable: true },
      { text: "Validade", value: "validity", sortable: true },
      { text: "Ações", sortable: false },
    ],
    selectedAssistedId: null,
    selectedMeasureId: null,
    measureList: null,
    searchFieldData: "",
    formValid: false,
    measure: null,
    measures: [],
    renderComponent: true,
  }),
  created() {
    this.initialize();
  },

  methods: {
    async initialize() {
      await this.getInfo();
    },
    async getInfo() {
      this.measure = null;

      this.selectedMeasureId = this.$route.query.id;
      this.measure = await getOne(this.selectedMeasureId);

      this.measureList = await getByAssisted(this.measure.assisted.id);
    },

    getAuthorName(data) {
      let text =
        "Medida " +
        data.id +
        " com " +
        data.author.fullName +
        " - " +
        this.getAuthorAddress(data);
      return text;
    },

    getAuthorAddress(item) {
      if (!item.author.authorAddresses) return "Sem endereço associado";

      var address = item.author.authorAddresses[0];

      if (!address) return "Sem endereço associado";
      else return address["district"] + "/" + address["city"];
    },

    changeRoute(a) {
      this.$router.push({ path: 'general_info', query: { id: a } });
      this.getInfo();
      this.forceRerender();
    },
    forceRerender() {
        // Remove my-component from the DOM
        this.renderComponent = false;

        this.$nextTick(() => {
          // Add the component back in
          this.renderComponent = true;
        });
      }
  },
};
</script>

<style>
#content {
  padding: 1% 3%;
}

.measureDropdown {
  margin: 0 auto;
  width: 55%;
}
.dropdownContainer {
  text-align: center;
}

.contentContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 5px;
  padding: 50px 3%;
}

#btn-select {
  margin-bottom: 20px;
  color: white;
  background-color: #23527c;
}

.dataImgs {
  display: grid;
  max-width: 100%;
  height: 130px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-column-gap: 10px;
}

.imgObj {
  height: 130px;
  width: auto;
}

.desktopImgs {
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.mobileImgs {
  grid-template-rows: repeat(auto, 3);
  grid-template-columns: 50% 50%;
}

.headline {
  margin-bottom: 20px;
}

.content {
  margin-bottom: 40px;
}

.mobile {
  grid-template-rows: repeat(auto, 3);
  grid-template-columns: 1fr;
}

.mobileLine {
  grid-template-columns: 50% 50%;
  display: none;
}

.data {
  display: grid;
  max-width: 100%;
  min-height: 95%;
  justify-content: center;
}

.container {
  width: 90%;
  margin-top: 20px;
  padding: 0;
}

.contentTitle {
  padding-bottom: 20px;
}

.titleContainer {
  display: grid;
  grid-template-columns: auto 27% auto;
  text-align: center;
  align-items: center;
  justify-items: center;
}
.mobileTitleContainer {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.line {
  min-width: 90%;
  min-height: 2px;
  background-color: #383838;
}

.prop {
  font-size: 14pt;
  padding-bottom: 10px;
}

.centerAlign {
  display: flex;
  align-items: center;
  text-align: center;
}
</style>
