<template>
  <div class="home">
    <div v-for="info in cardInfo" :key="info.title">
      <Card :title="info.title" :icon="info.icon" :route="info.url" />
    </div>
  </div>
</template>

<script>

import Card from '../Card/Card.vue';

export default {
  name: 'Dashboard',
  components: {
    Card,
  },

  data: () => ({
    cardInfo: [
      {
        title: 'Medida Protetiva',
        icon: "mdi-shield-half-full",
        url: 'manage_protectives',
      },
      {
        title: 'Localização',
        icon: "mdi-map-search",
        url: 'map',
      },
    ],
  }),
};
</script>

<style scoped>
.home {
  display: grid;
  /* grid-template-columns: repeat(2, 25%); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
}
</style>
