<template>
  <div>
    <h1 class="headline">Veículo</h1>

    <v-form v-model="form.VehicleValid" class="form" ref="form" @input="$emit('sendData', form)">

      <!-- Div: Modelo e Ano -->
      <div style="display: flex">
          <!-- Id do autor -->
          <v-text-field
          v-model="form.id"
          label="Id Autor"
          dense
          outlined
          :rules="rules.id"
          style="width: 5%; 
          margin-right: 10px"
          validate-on-blur
          />

          <!-- Modelo -->
          <v-text-field
          v-model="form.model"
          ref="model"
          @blur="getVehicle(form.model)"
          @input="formatModel(form.model)"
          label="Modelo"
          :rules="rules.model"
          maxlength="40"
          dense
          outlined
          validate-on-blur
        />
          <!-- Ano -->
          <v-text-field
          v-model="form.year"
          label="Ano"
          dense
          outlined
          :rules="rules.year"
          style="width: 8%; 
          margin-left: 10px"
          validate-on-blur
        />
      </div>

      <!-- Div: Marca, Cor e Placa-->
      <div style="display: flex">
          <!-- Marca -->
          <v-text-field
          v-model="form.brand"
          ref="brand"
          @blur="getVehicle(form.brand)"
          @input="formatBrand(form.brand)"
          label="Marca"
          :rules="rules.Brand"
          maxlength="25"
          dense
          outlined
          validate-on-blur
        />
          <!-- Ano -->
          <v-text-field
          v-model="form.color"
          label="Cor"
          dense
          outlined
          :rules="rules.color"
          style="width: 27%; 
          margin-left: 10px"
          validate-on-blur
        />
          <!-- Placa -->
          <v-text-field
          v-model="form.plate"
          ref="plate"
          @blur="getVehicle(form.plate)"
          @input="formatPlate(form.plate)"
          label="Placa"
          :rules="rules.plate"
          style="width: 27%; 
          margin-left: 10px"
          dense
          outlined
          validate-on-blur
        />
      </div>

      <!-- Div: Placa e Tipo -->
      <div style="display: flex">
        <!-- Placa -->
       
        <!-- Tipo 
        <v-autocomplete
          v-model="form.type"
          label="Tipo"
          :items="types"
          :rules="rules.type"
          dense
          outlined
          no-data-text="Nenhuma correspondência"
          style="width: 35%; 
          margin-left: 10px"
        />-->
      </div>
      
      <!-- Chassi 
      <v-text-field
          v-model="form.chassi"
          ref="chassi"
          @blur="getVehicle(form.chassi)"
          @input="formatChassi(form.chassi)"
          label="Chassi"
          :rules="rules.chassi"
          dense
          outlined
          validate-on-blur
      />-->

      <!-- RENAVAM 
      <v-text-field
          v-model="form.renavam"
          ref="renavam"
          @blur="getVehicle(form.renavam)"
          @input="formatRenavam(form.renavam)"
          label="RENAVAM"
          :rules="rules.renavam"
          dense
          outlined
          validate-on-blur
      />-->
    </v-form>
    
  </div> 
</template>

<script>

export default {
  data: () => ({
    form: {
      vehicleValid: false,
      id: '',
      model: '',
      color: '',
      brand: '',
      year: '',
      plate: '',
    },
    types: [
      'Padrão',
      'Mercosul'
    ],
    rules: {
      chassi: [
        (v) => (v.length == 0 || v.length == 17) || 'O Chassi deve ter 17 caracteres'
      ],
      color: [
        
      ],
      year: [
        (v) => !isNaN(v) || 'Deve ser um número',
        (v) => (v.length == 0 || v.length == 4)  || 'O ano deve ter 4 digitos'
      ],
      model: [
        
      ],
      plate: [
        (v) =>(v.length == 0 || v.length == 7) || 'A placa deve ter 7 caracteres'
      ],
      type: [
        
      ],
      renavam: [
        (v) => (v.length == 0 || v.length == 11) || 'O RENAVAM deve ter 11 caracteres'
      ],
      
    },
  }),
  watch: {
    form: {
      handler() {
        this.sendData();
      },
      deep: true,
    },
  },
  methods: {

  },
};
</script>

<style scoped lang="css">
h1 {
  margin-bottom: 20px;
}
.form {
  width: 100%;;
  /* display: grid;
  height: 100%;
  grid-template-columns: 75% 20%;
  grid-column-gap: 5%; */
}
</style>