<template>
  <div>
    <h1 class="headline">Informações Pessoais</h1>
    <v-form class="form" ref="authorForm" v-model="form.authorValid">
      <v-text-field
        v-model="form.fullName"
        label="Nome Completo"
        :rules="rules.fullName"
        dense
        outlined
        validate-on-blur
        @input="sendData()"
      />
      <v-text-field
        v-model="form.cpf"
        label="CPF"
        :rules="rules.cpf"
        v-mask="'###.###.###-##'"
        maxlength="14"
        dense
        outlined
        @input="sendData()"
      />
      <v-textarea
        v-model="form.observation"
        label="Observação"
        :rules="rules.observation"
        height="100px"
        id="textarea"
        dense
        outlined
        @input="sendData()"
      />

      <div style="display: flex; align-items: center">
        <v-text-field
          v-model="form.dvc"
          label="DVC"
          :rules="rules.dvc"
          dense
          outlined
          @input="sendData()"
        />
        <v-checkbox
          v-model="form.hasGun"
          label="Porte de arma?"
          style="margin: 0px 15px; padding: 0"
          true-value="true"
          false-value="false"
          @input="sendData()"
        />
      </div>
      <div class="image-group">
        <div
          v-for="index in imgArray.length >= 5 ? 5 : imgArray.length + 1"
          :key="index"
          class="image-container"
        >
          <input
            style="display: none"
            ref="imgInput"
            type="file"
            accept="image/*"
            @change="loadFile"
          />
          <div class="imgContainer">
            <img
              v-if="imgArray[index - 1]"
              class="img"
              :src="imgArray[index - 1]"
              @click="$refs.imgInput[index - 1].click()"
            />
            <v-tooltip v-else bottom>
              <template v-slot:activator="{ on }">
                <v-btn v-on="on" icon @click="$refs.imgInput[index - 1].click()">
                  <v-icon large :color="imgError ? 'error' : 'primary'"
                    >mdi-file-image-outline</v-icon
                  >
                </v-btn>
              </template>
              <span>Enviar Imagem</span>
            </v-tooltip>
          </div>
          <button v-if="index <= imgArray.length" class="deleteButton" @click="removeImageInput($event, index)">X</button>
        </div>
      </div>
    </v-form>
  </div>
</template>

<script>
export default {
  data: () => ({
    form: {
      authorValid: false,
      fullName: '',
      cpf: '',
      observation: '',
      dvc: '',
      hasGun: false,
      photograph: [],
    },
    imgArray: [],
    
    rules: {
      fullName: [
        (v) => !!v || 'O campo é obrigatório',
        (v) => v.length < 255 || 'No máximo 255 caracteres',
        (v) => /^([^0-9]*)$/.test(v) || 'Digitos não são aceitos',
        // (v) => /^[-+=(),'.a-zA-Z0-9]+$/.test(v) || 'Caracteres especiais não são aceitos',
      ],
      cpf: [(v) => /^((\d{3}.\d{3}.\d{3}-\d{2}))$/.test(v) || v === '' || 'CPF inválido!'],
      dvc: [
        (v) => !!v || 'O campo é obrigatório',
        (v) => v.length < 60 || 'No máximo 60 caracteres',
      ],
      observation: [
        (v) => !!v || 'O campo é obrigatório',
        (v) => v.length < 300 || 'No máximo 300 caracteres',
      ],
    },

    imgUrl: null,
    imgError: false,
  }),
  watch: {
    form: {
      handler() {
        if (this.imgUrl) {
          this.sendData();
        }
      },
      deep: true,
    },
  },
  methods: {
    sendData() {
      this.$emit('sendData', this.form);
    },
    loadFile($event) {
      let filesLength = $event.target.files.length;
      let maxFiles = 5;
      if (!filesLength) return;
      let imgArray = Array.from($event.target.files);
      imgArray.map((img, index) => {
        if (index > maxFiles - 1) return;
        let convertedImageUrl = URL.createObjectURL(img);
        this.imgArray.push(convertedImageUrl);
        this.form.photograph.push(img);
      });
      this.sendData();
    },

    removeImageInput($event, index) {
      $event.preventDefault();

      this.imgArray.splice(index - 1, 1);
    },
  },
};
</script>

<style scoped lang="css">
h1 {
  margin-bottom: 20px;
}
.form {
  width: 100%;
}
.image-group {
  width: 100%;
  display: inline-grid;
  align-items: center;
  grid-template-columns: repeat(5, 20%);
}
.image-container {
  position: relative;
  padding: 5px;
  height: 100%;
}
.imgContainer {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: solid 1px rgba(0, 0, 0, 0.38);
  border-radius: 5px;
}

.img {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.deleteButton {
  position: absolute;
  top: 29px;
  right: 8px;
  font-size: 10px;
  background: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: white;
}
</style>
