<template>
  <div class="HeaderContent">
    <v-btn text to="home">
      <v-icon color="white">mdi-home</v-icon>
    </v-btn>

    <Dropdown :items="assistedItems" icon="mdi-shield-account" color="white">
      <div class="font-weight-light">Medida Protetiva</div>
    </Dropdown>
    <!-- <Dropdown :items="authorItems" icon="mdi-car-info" color="blue lighten-4">
      <div class="font-weight-light">Veiculo</div>
    </Dropdown> -->
    <Dropdown :items="userItems" icon="mdi-account" color="information">
      <div class="font-weight-light">Colaborador</div>
    </Dropdown>

    <v-btn text color="white" to="map" class="text-capitalize font-weight-light">
      <v-icon color="green" left>mdi-map</v-icon>Mapa
    </v-btn>

    <v-spacer></v-spacer>

    <v-btn text color="accent" class="text-capitalize font-weight-light">
      {{ username }}
      <v-icon right>mdi-account</v-icon>
    </v-btn>

    <v-tooltip bottom color="dark">
      <template v-slot:activator="{ on }">
        <v-btn v-on="on" class="leave-button" icon small color="accent" @click="leave()">
          <v-icon>mdi-door-open</v-icon>
        </v-btn>
      </template>
      <span>Sair</span>
    </v-tooltip>
  </div>
</template>

<script>
import Dropdown from '@/common-components/Dropdown/Dropdown.vue';
import { logout, getUsername } from '@/services/auth.js';
export default {
  name: 'NavigationBar',
  components: {
    Dropdown,
  },
  data: () => ({
    assistedItems: [
      {
        title: 'Assistida',
        icon: 'mdi-shield-account',
        route: 'manage_assisteds',
      },
      {
        title: 'Autor',
        icon: 'mdi-badge-account',
        route: 'manage_authors',
      },
      {
        title: 'Veículo',
        icon: 'mdi-car-info',
        route: 'manage_vehicles',
      },
      {
        title: 'Medida Protetiva',
        icon: 'mdi-shield-account-variant',
        route: 'manage_protectives',
      },
    ],
    userItems: [
      {
        title: 'Registrar Colaborador',
        icon: 'mdi-account-plus',
        route: 'register_user',
      },
      {
        title: 'Gerenciar Colaborador',
        icon: 'mdi-table-account',
        route: 'manage_users',
      },
    ],
    username: null,
    isHome: null,
  }),
  mounted() {
    this.username = getUsername();
  },
  watch: {
    $route(to) {
      this.isHome = to.name == 'Home';
    },
  },
  methods: {
    leave() {
      this.$router.push({ name: 'Login' });
      logout();
    },
  },
};
</script>

<style scoped lang="scss">
span {
  color: #fff;
}
.HeaderContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  max-height: 100%;
}
.leave-button {
  margin-top: 3px;
}
</style>
