<template>
  <div class="">
    <v-form class="vehicle-form" ref="vehicleForm">
      <!--Autor-->
      <div class="select">
        <v-select
          v-model="form.authorId"
          :items="authors"
          :item-text="getAuthorName"
          :item-value="'id'"
          :rules="rules.required"
          label="Selecione um autor"
          outlined
          @change="sendData"
        />
      </div>

      <!--Modelo e Ano-->
      <div class="text" style="display: flex">
        <v-text-field
          v-model="form.model"
          label="Modelo"
          outlined
          @change="sendData"
          :rules="rules.required"
          maxlength="30"
        />
        <v-text-field
          v-model="form.ano"
          label="Ano"
          :rules="rules.ano"
          v-mask="'####'"
          outlined
          maxlength="4"
          @change="sendData"
          @input="sendData()"
          style="width: 8%; margin-left: 10px"
        />
      </div>

      <!--Marca, Cor e Placa-->
      <div class="text" style="display: flex">
        <v-text-field
          v-model="form.brand"
          :item-text="'brand'"
          maxlength="30"
          label="Marca"
          outlined
          @change="sendData"
        />
        <v-text-field
          v-model="form.plate"
          label="Placa"
          outlined
          maxlength="7"
          @change="sendData"
          style="width: 27%; margin-left: 10px"
        />
        <v-text-field
          v-model="form.color"
          maxlength="50"
          label="Cor"
          outlined
          @change="sendData"
          style="width: 27%; margin-left: 10px"
        />
      </div>
    </v-form>
  </div>
</template>

<script>
import { getAuthors } from "@/services/author.js";

export default {
  data() {
    return {
      authors: [],
      form: {
        authorId: null,
        model: null,
        ano: null,
        brand: null,
        plate: null,
        color: null,
      },

      rules: {
        ano: [
          (v) => {
            if (!v) return true;

            if (v.length != 0 && v.length != 4) return "No mínimo 4 caracteres";
            if (v < 1920 || v > 2022) return "Insira um ano válido, entre 1920 e 2022";

            return true;
          },
        ],
        required: [(v) => !!v || "O campo é obrigatório"],
      },
    };
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      this.authors = await getAuthors();
    },
    sendData() {
      this.$emit("sendData", this.form);
    },
    getAuthorName(data) {
      return data.fullName + " - " + this.getAuthorAddress(data);
    },

    getAuthorAddress(item) {
      if (!item.authorAddresses) return "Sem endereço associado";

      var address = item.authorAddresses[0];

      if (!address) return "Sem endereço associado";
      else return address["district"] + "/" + address["city"];
    },
  },
};
</script>

<style scoped lang="css">
h1 {
  margin-bottom: 20px;
}
.form {
  width: 100%;
}
.vehicle-form {
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px 100px;
}

.select,
.text {
  width: 80%;
  margin: auto;
}
</style>
