<template>
  <div>
    <div v-if="author">
      <div
        :class="[
          'titleContainer',
          $vuetify.breakpoint.smAndDown ? 'mobileTitleContainer' : 'titleContainer',
        ]"
      >
        <div
          :class="['line', $vuetify.breakpoint.smAndDown ? 'mobileLine' : 'line']"
          style="margin-left: 10%;"
        />
        <div><h1>Autor</h1></div>
        <div
          :class="['line', $vuetify.breakpoint.smAndDown ? 'mobileLine' : 'line']"
          style="margin-right: 10%;"
        />
      </div>

      <div :class="['data', $vuetify.breakpoint.smAndDown ? 'mobile' : 'desktop']">
        <div class="container">
          <h2 class="contentTitle">Informações pessoais</h2>
          <div class="prop"><b>Nome:</b> {{ author.fullName }}</div>
          <div class="prop"><b>CPF:</b> {{ maskCPF(author.cpf) }}</div>
          <div class="prop"><b>DVC:</b> {{ author.dvc }}</div>
          <div class="prop"><b>Porte de arma:</b> {{ author.hasGun ? 'Sim' : 'Não' }}</div>
          <div class="prop"><b>Observação:</b> {{ author.observation }}</div>
        </div>
        <div v-if="authorAddress" class="container">
          <h2 class="contentTitle">Endereço</h2>

          <div class="prop"><b>CEP:</b> {{ maskCEP(authorAddress.cep) }}</div>
          <div class="prop"><b>Estado:</b> {{ authorAddress.state }}</div>
          <div class="prop"><b>Cidade:</b> {{ authorAddress.city }}</div>
          <div class="prop"><b>Bairro:</b> {{ authorAddress.district }}</div>
          <div class="prop">
            <b>Rua:</b> {{ authorAddress.street }}, n°{{ authorAddress.number }}
          </div>
        </div>
      </div>
      <div
        v-if="!authorImages.message"
        style="padding-top: 30px;"
        :class="['dataImgs', $vuetify.breakpoint.smAndDown ? 'mobileImgs' : 'desktopImgs']"
      >
        <div class="dataImgs" v-for="item in authorImages" :key="item.name">
          <img
            v-bind:src="'data:image/jpeg;base64,' + item.base64"
            class="imgObj"
          />
        </div>
      </div>
      <div id="content" v-if="authorImages.message">
        <h3>Nenhuma foto encontrada</h3>
      </div>
    </div>
  </div>
</template>

<script>
import { getOne, getAuthorPicture } from '@/services/author.js';

export default {
  props: {
    measure: {
      type: Object,
    },
  },
  mounted: async function() {
    this.author = await getOne(this.measure.author.id);
    console.log(this.measure.author.id);
    this.authorImages = await getAuthorPicture(this.measure.author.id);
    console.log(this.authorImages);
    if (!this.author.authorAddresses) return;

    this.authorAddress = this.author.authorAddresses[0];
    
  },

  data: () => ({
    author: null,
    authorAddress: null,
    authorImages: [],
  }),

  methods: {
    maskCEP(value) {
      return value.substring(0, 5) + '.' + value.substring(5, 8);
    },
    maskCPF(cpf) {
      cpf = cpf.replace(/\D/g, "");
      cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2");
      cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2");
      cpf = cpf.replace(/(\d{3})(\d{1,2})$/, "$1-$2");
      return cpf;
    },
  },
};
</script>
