<template>
  <div class="author-form">
    <Popup
      :dialog="openDialog"
      :type="type"
      :text="text"
      :disableReturn="true"
      @onButtonPressed="closeModal()"
    />
    <FormHeader
      class="header"
      title="Autor"
      subTitle=" - Cadastrar Autor"
      :list="routes"
    />
    <div :class="['forms', $vuetify.breakpoint.smAndDown ? 'mobile' : 'desktop']">
      <AuthorForm class="container" @sendData="fetchData" ref="authorForm" />
      <AddressForm class="container" @sendData="fetchData" ref="addressForm" />
    </div>
    <div class="buttons">
      <v-btn class="btn" raised color="gray" @click="$router.go(-1)"> Cancelar </v-btn>

      <v-btn
        class="btn"
        raised
        color="success"
        :loading="isLoading"
        @click="createAuthor()"
      >
        Cadastrar
      </v-btn>
    </div>
  </div>
</template>

<script>
import FormHeader from "@/common-components/FormHeader/FormHeader.vue";
import AddressForm from "@/common-components/AddressForm/AddressForm.vue";
import AuthorForm from "./AuthorForm/AuthorForm.vue";
import Popup from "@/common-components/Popup/Popup.vue";
import { registerAuthor } from "@/services/author.js";

export default {
  components: {
    FormHeader,
    AuthorForm,
    AddressForm,
    Popup,
  },

  data: () => ({
    routes: [
      { name: "Pagina Inicial", route: "home" },
      { name: "Gerenciar Autor", route: "manage_authors" },
      { name: "Cadastrar Autor", route: "" },
    ],
    form: {},
    openDialog: false,
    isLoading: false,
    status: null,
    type: null,
    text: null,
  }),

  methods: {
    fetchData(form) {
      Object.keys(form).map((key) => {
        this.form[key] = form[key];
      });
    },
    async createAuthor() {
      let authorValid, addressValid;
      const form = { ...this.form };

      authorValid = this.$refs.authorForm.$refs.authorForm.validate();
      addressValid = this.$refs.addressForm.$refs.addressForm.validate();

      if (authorValid && addressValid) {
        this.isLoading = true;
        const fd = new FormData();
        if (form.photograph) {
          for (let x = 0; x < form.photograph.length; x++) {
            fd.append("photograph", form.photograph[x]);
          }
        }
        for (const field in form) {
          if (
            field === "authorValid" ||
            field === "addressValid" ||
            field === "image" ||
            field === "photograph"
          ) {
            continue;
          } else {
            if (field === "cep" || field === "cpf") {
              let sanitizedField = form[field].replaceAll("-", "");
              sanitizedField = sanitizedField.replaceAll(".", "");
              fd.append(`${field}`, sanitizedField);
            } else {
              fd.append(`${field}`, form[field]);
            }
          }
        }
        delete form.photograph;
        this.status = await registerAuthor(fd);
        if (this.status.status == 200) {
          this.text = "Autor registrado com sucesso!";
          this.type = "success";
          this.openDialog = true;
        } else {
          this.type = "internalError";
          this.openDialog = true;
        }
      }
      this.isLoading = false;
    },
    closeModal() {
      this.openDialog = false;
      if (this.status.status == 200) {
        this.$router.push("/manage_authors");
      }
    },
  },
};
</script>

<style scoped lang="css">
.author-form {
  padding: 1% 3%;
}

.forms {
  display: grid;
  max-width: 100%;
  min-height: 95%;
  justify-content: center;
}

.desktop {
  grid-template-rows: 50% 50% 50% 50%;
}

.mobile {
  grid-template-rows: repeat(auto, 4);
  grid-template-columns: 1fr;
}

.container {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 0;
}

.buttons {
  position: relative;
  bottom: 15%;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 1rem;
}

.btn {
  margin-right: 0.7rem;
  margin-left: 0.3rem;
}
</style>
